* {
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  margin-left: 150px;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma,;
  text-decoration: none;

  padding-bottom: 0px;
  padding-left: 90px;
  padding-top: 30px;
  display: inline-block;
}
nav ul li {
  display: inline;
  
}
nav ul {
  text-align: center;
 
}
.nav-1 .ul-1 .li-1 .a-1 {
  color: aliceblue;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma,;
  font-weight: 70px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  display: inline-block;
}
.nav-1 .ul-1 .li-1 {
  display: inline;
  margin-left: 0;
  padding-bottom: 10000px;
}
.nav-1 .ul-1 {
  text-align: center;
  margin-right: 400px;
  background-color: blue;
  margin-left: 1100px;
  
}
h1 {
  color: rgb(184, 64, 64);
  padding-top: 200px;
  padding-left: 200px;
}

h2 {
  color: rgb(184, 64, 64);
  padding-top: 0px;
  padding-left: 225px;
}
p {
  color: white;
  padding-left: 10px;
  
}
.p-2 {
  color: white;
  padding-top: 50px;
  padding-left: 800px;
  position: absolute;

}
.p-3 {
  margin-left: 240px;
  
}
.img-1 {
  padding-top: 180px;
  margin-left: 200px;
}
.img-2 {
  padding-top: 30px;
  padding-left: 50px;
}
.img-0 {
  padding-top: 30px;
  

}
.img-3 {
  padding-top: 30px;
  padding-left: 30px;
}
.img-4 {
  padding-left: 40px;
}
.img-5 {
  margin-bottom: 0px;
  padding-left: 170px;
  min-width: 40px;
  min-height: 4px;
}
.div-1 {
  max-width: 60px;
  min-height: 3px;
  margin-left: 180px;
  
  background-color: rgb(255, 255, 255);
}
.div-2 {
  max-width: 60px;
  min-height: 3px;
  margin-left: 370px;
  
  background-color: rgb(255, 255, 255);
}

.container {
  background-image: url(/a.png);
  width: 1440px;
  height: 800px;
}


section {
  display: flex; 
  height: 10vh;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  background-color: rgb(255, 255, 255);
  
  
}
section div {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 200px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 10px;
  margin: 100px;
  text-align: center;
  box-shadow: 0 30px 250px;
  
}


